.wrapper {
    display: grid;
    grid-template-columns: 5;
    grid-auto-rows: auto;
}

.entry-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.task-wrapper {
    grid-column-start: 5;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.event-wrapper {
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}